.content {
    position: absolute;
    top: 15px;
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: green; */
    gap: 10px;
    margin-left: 3.1rem;
    color: var(--letters);
}

.popUp {
    display: flex;
}

.lateralBar {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--dark1);
    height: 500px;
    width: 3.06rem;
}

.lateralBar img {
    width: 20px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 9px ;
    padding-top: 9px ;
    filter: var(--invert)
}

.lateralBar img:hover {
    background-color: rgba(255, 255, 255, 0.223);
}

.imageContainer {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 175px;
    /* background-color: red; */
    gap: 25px;
}

.card {
    display: flex;
    justify-content: left;
    padding-left: 5px;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 296px;
    height: 50px;
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: rgba(255, 0, 0, 0.267); */
}

.card:hover {
    background-color: rgba(139, 139, 139, 0.271);
}

@media (max-width: 500px) {
    .card  {
        width: 245.5px;
        /* background-color: blue; */
    }
}
/* 375 */
@media (max-width: 300px) {
    .card h4 {
        font-size: 11.5px;
        /* background-color: green; */
    }
    .card {
        width: 145.5px;
    }
    .card img {
        scale: 0.7;
    }
    .content {
        margin-left: 3.1rem;
    }
    
}

@media (max-height: 531px) {
    .card h4 {
        font-size: 11.5px;
        /* background-color: green; */
    }
    .card {
        width: 145.5px;
    }
    .card img {
        scale: 0.7;
    }
    .content {
        margin-left: 3.1rem;
    }
    .imageContainer {
        top: -25px
    }
}

@media only screen and (max-height: 333px) {
    .content {
        top: 5px;
        scale: 0.9;
        margin-left: 2.5rem;
    }
    .imageContainer  {
        top: -80px;
    } 

    .card {
        width: 162px;
    }
}